.btn {
  background-color: $primary-color;
  color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 8px;
  padding: 20px 24px;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  user-select: none;
  cursor: pointer;
  transition: transform 200ms ease 0s, background 200ms ease 0s;
  &_secondary {
    width: 100%;
    background: $secondary-color;
    padding: 12px 132px;
    font-family: $secondFont;
  }
  &:hover {
    transform: translateY(-2px);
    text-decoration: none;
  }
}
