.help {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 427px);
    gap: 24px;
    margin-top: 48px;
  }
  &__card {
    height: 216px;
    max-width: 427px;
    background-color: $default-color;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  &__card-title {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $secondary-color;
  }
  &__card-title-date {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $secondary-color;
  }
  &__card-text {
    margin-top: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $secondary-color;
    p {
      font-family: $secondFont;
    }
  }
  &__inside-card {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      font-family: $secondFont;
    }
  }
  &__button {
    margin-top: 64px;
    text-align: center;
  }
  .height {
    min-height: 240px;
  }
}
