.promo {
  min-height: 780px;
  padding: 0;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  &__content {
    max-width: 624px;
    margin-top: 154px;
  }
  &__subtitle {
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
    color: $gray-color;
  }
  &__img {
    margin-top: 100px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__btns-left {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 40px;
  }
  .mouse-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    img {
      display: block;
      margin: 0 auto;
      animation: sdb10 2s infinite;
    }
    p {
      margin-top: 24px;
      color: $gray-color;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* ------------------Media query----------------------- */

@media (max-width: $desktopWidth) {
  .promo {
    .title {
      font-size: 58px;
    }
  }
}

@media (max-width: $smDesktopWidth) {
  .promo {
    .title {
      text-align: center;
    }
    &__content {
      margin: 0 auto;
      margin-top: 32px;
    }
    &__subtitle {
      text-align: center;
    }
    &__btns-left {
      justify-content: center;
    }
    &__wrapper {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
    }
    &__img {
      padding-top: 56px;
      display: block;
      max-width: 720px;
      margin: 0 auto;
    }
  }
}

@media (max-width: $tableWidth) {
  .promo {
    .title {
      font-size: 50px;
      line-height: 57px;
    }
    &__content {
      margin-top: 80px;
    }
  }
}

@media (max-width: $phoneWidth) {
  .promo {
    .title {
      font-size: 32px;
      line-height: 40px;
      text-align: center;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 23px;
    }
  }
}
