.start {
  margin-top: 44px;
  padding: 0;
  background: url('../img/start-top.png');
  background-repeat: repeat-x;
  &__wrapper {
    padding-top: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  &__subtitle {
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
  }
  &__btns-left {
    margin-top: 40px;
  }
}
